body {
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: 300;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  margin: 0 100px;
}

h1 {
  color: #009a9a;
  letter-spacing: 0.3rem;
  margin: 0 0;
  font-weight: 400;
}

h4 {
  line-height: 1.0;
  color: #6B6B6B;
  letter-spacing: 0.3rem;
}

p {
  font-size: 0.8em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #009a9a;
}

ul {
  list-style-type: none;
  /*padding-left: 15px;*/
}

li {
  margin-top: 5px;
}

.container {
  margin: 90px 0;
}

#descriptors {
  font-size: 0.8em;
}

.section {
  margin-bottom: 40px;
}

.skill-icon {
  width: 52px;
  margin: 0 2px;
}

.row {
  margin-bottom: -5px;
}

.skills.row.one, .row.three{
  margin-left: 20px;
}

.skills.row.two {
  margin-left: 50px;
}

.project-box {
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin: 15px 0;
}
.project {
  max-width: 100%;
  height: auto;
}